<h1 align="center"> IST 5520 Homework 4: Application </h1>
<h3 align="center"> The pandas Package </h3>
<h3 align="center"> Student: XXX </h3>

**Instruction:**

Complete the following tasks (8 points in total). You can add additional lines if necessary. You must implement the programming logic to create the required objects, rather than manually typing values to create objects unless manual input is specifically required (for example task 1.1).

# Task 1: pandas Series (4 points)

1.1 Manually create a pandas Series object named 'score' that contains the following elements:

51, 78, 84, 95, 64, 82, 89, 68, 91

In [118]:
import pandas as pd

score = pd.Series([51, 78, 84, 95, 64, 82, 89, 68, 91])

#show elements
print(score)

0    51
1    78
2    84
3    95
4    64
5    82
6    89
7    68
8    91
dtype: int64

1.2 Append one more value 90 into the score series by using pd.concat() method. The pd.concat() method can concatenate two Series objects into one Series object. Check the method' signature or document if you are not familiar with its usage.

Hints: 
- Call the pd.concat() method to concatenate two Series objects into one Series object. 
- The index should be from 0 to 9. If the index of the result is not correct, call the reset_index() to reset the index.

In [119]:
temp = pd.Series([90])

score = score.append(temp, ignore_index=True)

#print output
print(score)

0    51
1    78
2    84
3    95
4    64
5    82
6    89
7    68
8    91
9    90
dtype: int64

1.3 Calculate the mean of all elements in the Series object.

In [120]:
print("Elements mean: ")
print(score.mean())

Elements mean:
79.2

1.4 Sort the Series object in descending order.

In [121]:
score = score.sort_values(ascending=False)

# Task 2: Loop (4 points)

2.1 Define a function to convert a score value to a letter grade.

In [122]:
def grade_conversion(input_score):
    if input_score >= 90:
        return 'A'
    elif input_score >= 80:
        return 'B'
    elif input_score >= 70:
        return 'C'
    elif input_score >= 60:
        return 'D'
    else:
        return 'F'

2.2 Use a for loop to calculate letter grade for each value in the score object. Store the letter grade in a pandas Series object called "grade". Show the content of the grade Series.

Hint: 
- The index should be from 0 to 9. If the index of the result is not correct, call the reset_index() to reset the index.

In [123]:
#deep copy
grade = score.copy()

#iterate over grade, convert to grade letters
for i in range(grade.size):
    grade[i] = grade_conversion(grade[i])
    
#print output
print(grade)

3    A
8    A
9    A
6    B
2    B
5    B
1    C
7    D
4    D
0    F
dtype: object

2.3. Combine the score and grade arrays into a pandas DataFrame. The 1st column shows the score and the 2nd column shows the letter grade. Make sure the two columns are named as 'score' and 'grade' respectively. Show the content of this DataFrame. (2 points)

Hint: 
- Use the pd.concat() method to concatenate multiple Series objects into a DataFrame object.

In [124]:
df = pd.concat([score, grade])

#print output
print(df)

3    95
8    91
9    90
6    89
2    84
5    82
1    78
7    68
4    64
0    51
3     A
8     A
9     A
6     B
2     B
5     B
1     C
7     D
4     D
0     F
dtype: object

Finished product is above